img{
    width : 10%;
    height : 10%;
}


#menu{
    float: left;
    width : 20%;
    height : 20%;
}

iframe{
    float : right;
    width : 70%;
    height: 1000px;
}

#test{
    float : left;
}

li{
    list-style: none;
}

#options, #dialog{
    position: absolute;
    border: 1px black solid;
    border-radius: 20px;
    background-color: #cccccc;
}


#options p:hover{
    background-color : #aaaaaa;
}

ul{
    /*padding-left: 5%;*/
    color: green;
}

li{
    padding-top: 2%;
    color: red;
}
